@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <h2>@ViewBag.Message</h2>
    <h2>@ViewBag.CurrentDate</h2>

    <ul>
        @{
            foreach(string i in ViewBag.FruitsArray){
            <li>@i</li>
            }
            }
    </ul>

<ul>
    @{
        foreach (string i in ViewBag.Sports)
        {
            <li>@i</li>
        }
    }
</ul>

@{
    var a = ViewBag.Employee;
}

<p>@a.Id</p>
<p>@a.Name</p>
<p>@a.Description</p>

<h2>Data come from viewBag=@ViewBag.CommonMessage</h2>
<h2>Data come from viewData=@ViewData["CommonMessage"]</h2>